# Configuration File for Automated Backup System
#!/bin/bash
BACKUP_DESTINATION="/mnt/c/Users/hp/Desktop/backup/backupfiles"
LOG_FILE="/mnt/c/Users/hp/Desktop/backup/backup.log"
LOCK_FILE="/tmp/backup.lock"

DAILY_KEEP=7
WEEKLY_KEEP=4
MONTHLY_KEEP=3
# Exclude these folders from backup
EXCLUDE_PATTERNS=".git,node_modules,.cache"



